<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Look for Actors</button>

<h1>Actor display from single id</h1>
<app-content-card [contentItem]="items"></app-content-card>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typesupporter: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Punjab</h1>
<app-content-card *ngFor="let contentItem of contentItems | typesupporter: 'Punjab'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Bollywood</h1>
<app-content-card *ngFor="let contentItem of contentItems | typesupporter: 'Bollywood'" [contentItem]="contentItem"></app-content-card>
</div>
