.content-card {
    border: 1px solid #333;
    padding: 20px;
    margin: 20px;
  }
  
  .first-item {
    border: 2px solid #333;
    padding: 25px;
    margin: 20px;
  }

  div{
    background-color:red;
    color:black;
  }
  div:nth-of-type(2){
    background-color:black;
    color:grey;
  }
  div:last-of-type{
    background-color:brown;
    color: blue;
  }