<div class="content-card" [ngClass]="{
    'punjab': contentItem.type === 'Punjab',
    'bollywood': contentItem.type === 'Bollywood',
    'unspecified': !contentItem.type
  }">
  
       
  <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px" width="150px">
  <ng-template #defaultImage>
    <img src="https://3.bp.blogspot.com/-FNht2TeFjjc/VqS5LUAPfDI/AAAAAAAAD0c/eOu4ZnoIIXs/s1600/Actors.JPG" alt="this is the default image" height="200px" width="250px">
  </ng-template>
          <h2>{{ contentItem.title }}</h2>
          <p><strong>Description:</strong> {{ contentItem.description }}</p>
          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
          <p *ngIf="contentItem.type" appHoverAffect [effect]="'underline'"><strong>Type: </strong>{{ contentItem.type }}</p>
      <p *ngFor="let tag of contentItem.tags" appHoverAffect><strong>Tags:</strong>{{ tag }}</p>
      </div>